.maincontainer{ margin:0px auto 10px; width:1200px;border-right:1px solid #bdc2be; overflow:hidden; }
.bgwrapper{background-color:#FFFFFF;float:left;position:relative;width:1200px;}
.menuwrapper{ width:1200px;}
.forumlistingleftdiv{ width:1171px;}

/*.forumlistingleftdivinner{ width:1139px;}*/
.detail_img_container{ position:relative;width:500px; padding-bottom:10px;}/*float:left; */
.create_article_form_container{ float:left; position:relative; width:800px;}

/* Top Menu */
.menuwrapper { background-image: url("../images/menubg_admin.jpg");background-position:right; float: left; height: 33px; position: relative; width: 1200px;}
.topheaderbg { background-image: url("../images/colorband_top.png");background-repeat: repeat; float: left; height: 7px; line-height: 7px; position: relative; width: 100%;}

/* Article List*/
.article_list_container{ float:left; position:relative; width:1139px; }
.article_list_pager{ width:1139px; float:left; position:relative;}

/* User List*/
.user_list_container{ float:left; position:relative; overflow-y: hidden; overflow-x: scroll; width: 1139px; }
.user_list_pager{ width:1139px; float:left; position:relative;}

/* Ad List*/
.ad_list_container{ float:left; position:relative; overflow-y: hidden; overflow-x: scroll; width: 1139px; }
.ad_list_pager{ width:1139px; float:left; position:relative;}

/* Send Article Update */
.send_article_update_form{ float:left; position:relative; width:400px;}

/**/
.comma_seperated_list_subscription{ float:left; position:relative; width:700px;}

/* Footer*/
.footerwrapper {background-image: url("../images/footerbg_admin.gif"); background-repeat: no-repeat; background-position:right; border: 0 solid red; float:left; height:37px; line-height: 40px;   padding: 0 15px;  position: relative; width: 1170px;}

/* password reset confirmation */
.pass_reset_confirmation_msg{
    width: 99%; height: 15px; float: left; border: solid 1px green; color:green; padding: 5px 0px 5px 6px; display: none;
}

/* password reset confirmation */
.delete_user_confirmation_msg{
    width: 99%; height: 15px; float: left; border: solid 1px green; color:green; padding: 5px 0px 5px 6px;
}

/* add remove confirmation */
.add_delete_confirmation_msg{
    width: 99%; height: 15px; float: left; border: solid 1px green; color:green; padding: 5px 0px 5px 6px; display: none;
}

/* View Account */
.thin_grey_line{ border-bottom:1px solid #CED2D0; }
.violetcolor{ color:#C50063;}

.loader_view{ position: absolute; width: 100%; height: 100%;  opacity:0.4;filter:alpha(opacity=40); z-index: 10000;}

.loader{position: fixed;left: 50%;top: 50%;z-index:10001;}

.hide_div{ visibility:hidden; display:none;}
.show_div{ visibility:visible; display:block;}
.width_1064{ width: 1064px;}
.width_1200{ width: 1200px; }
.width_1200_left_align{left: -135px;}
.ask_enquiry{
    font-family: "Franklin Gothic Medium";
    color: #070606;
    font-size: 0.86em;
    font-weight: normal;
}
.ask_enquiry_status{
    font-family: "Franklin Gothic Medium";
    color: #e67f01;
    font-size: 0.86em;
    font-weight: normal;
}
.ask_enquiry_main{
    margin-right: 20px;
}